---
layout: default
title: Domů
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <div class="post-body">
      {% include tags.html %}
      <div class="post-date">
        {% include date.html date=post.date %}
      </div>
      {{ post.excerpt }}
      <a href="{{ post.url }}">Více...</a>
    </div>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
