{% if include.date %}
    <time datetime="{{ include.date | date_to_xmlschema }}">
      {{ include.date | date: "%-d" }}.
      {% assign month = include.date | date: '%-m' %}
      {% case month %}
        {% when '1' %}Leden
        {% when '2' %}Únor
        {% when '3' %}Březen
        {% when '4' %}Duben
        {% when '5' %}Květen
        {% when '6' %}Červen
        {% when '7' %}Červenec
        {% when '8' %}Srpen
        {% when '9' %}Září
        {% when '10' %}Říjen
        {% when '11' %}Listopad
        {% when '12' %}Prosinec
      {% endcase %}
      {{ include.date | date: "%Y" }}
    </time>
{% endif %}