{% if post %}
{% assign unidate = post.date %}
{% else %}
{% assign unidate = page.date %}
{% endif %}
{% if unidate %}
  <span class="post-date">
    <time datetime="{{ unidate | date_to_xmlschema }}">
      {{ unidate | date: "%-d" }}.
      {% assign month = unidate | date: '%-m' %}
      {% case month %}
        {% when '1' %}Leden
        {% when '2' %}Únor
        {% when '3' %}Březen
        {% when '4' %}Duben
        {% when '5' %}Květen
        {% when '6' %}Červen
        {% when '7' %}Červenec
        {% when '8' %}Srpen
        {% when '9' %}Září
        {% when '10' %}Říjen
        {% when '11' %}Listopad
        {% when '12' %}Prosinec
      {% endcase %}
      {{ unidate | date: "%Y" }}
    </time>
  </span>
{% endif %}