{% if include.date %}
    <time datetime="{{ include.date | date_to_xmlschema }}">
      {% assign month = include.date | date: '%-m' %}
      {{ include.date | date: "%-d" }}.&nbsp;{% case month %}
        {% when '1' %}leden
        {% when '2' %}únor
        {% when '3' %}březen
        {% when '4' %}duben
        {% when '5' %}květen
        {% when '6' %}červen
        {% when '7' %}červenec
        {% when '8' %}srpen
        {% when '9' %}září
        {% when '10' %}říjen
        {% when '11' %}listopad
        {% when '12' %}prosinec
      {% endcase %}{{ include.date | date: "%Y" }}
    </time>
{% endif %}