<form action="https://lukasbednarik.us16.list-manage.com/subscribe/post?u=5db63c35ed1c101df9888cc83&amp;id=00218cb7fe" method="post" id="contact" class="validate" novalidate>
  <fieldset>
    <input type="email" value="" name="EMAIL" class="email" tabindex="1" placeholder="Váš email" required>
  </fieldset>
  <fieldset style="position: absolute; left: -5000px;" aria-hidden="true">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="text" name="b_5db63c35ed1c101df9888cc83_00218cb7fe" tabindex="-1" value="">
  </fieldset>
  <fieldset>
    <button type="submit" name="subscribe" id="contact-submit" tabindex="2">Chci informace o plánovaných školeních!</button>
  </fieldset>
</form>