<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="keywords" content="{{ site.seo.keywords }}">
  <meta name="description" lang="cs" content="{{ site.seo.description }}">
  <meta property="og:title" content="{{ site.author.name }}" />
  <meta property="og:description" content="{{ site.seo.description }}" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700%7CAbril+Fatface">

  <!-- Icons -->
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Lukáš Bednařík bloguje" href="/atom.xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104534530-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-104534530-1');
  </script>

  <!-- Rotating gear -->
  <script>
    (function(window, document, undefined){
    window.onload = init;
    function init(){
      ;(function() {  // Function for smoothing the rotation
        var throttle = function(type, name, obj) {
          var obj = obj || window;
          var running = false;
          var func = function() {
            if (running) { return; }
            running = true;
            requestAnimationFrame(function() {
              obj.dispatchEvent(new CustomEvent(name));
              running = false;
            });
          };
          obj.addEventListener(type, func);
        };
        throttle ("scroll", "optimizedScroll");
      })();
      var gear = document.getElementById("gear");
      window.addEventListener("scroll", function() {
        gear.style.transform = "rotate("+window.pageYOffset/50+"deg)";
      });
    }
    })(window, document, undefined);
  </script>
</head>
