<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/images/design/favicon.ico" title="Favicon" />

  {% if page.noindex -%}
    <meta name="robots" content="noindex">
  {% else -%}
    <meta name="robots" content="index, follow">
  {%- endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="Lukáš Bednařík bloguje" href="/atom.xml">

  <!-- SEO -->
  {% seo %}
</head>