<!-- Navigation Bar -->
<div class="col-sm-10 col-xs-12 navigation-bar child-center-v">

  <!-- Navigation Menu -->
  <nav id="navMenu" class="nav-menu">
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/#domu">Domů</a></li>
      <li><a href="{{ site.baseurl }}/#bio">Bio</a></li>
      <li><a href="{{ site.baseurl }}/#workshopy">Workshopy</a></li>
      <li><a href="{{ site.baseurl }}/#s-cim-pomaham">S čím pomáhám</a></li>
      <li><a href="{{ site.baseurl }}/#doporuceni">Doporučení</a></li>
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/firemni-kultura/">Firemní kultura</a></li>
      <li><a href="{{ site.baseurl }}/knihy/">Kniha</a></li>
      <li><a href="{{ site.baseurl }}/#kontakt">Kontakt</a></li>
    </ul>
  </nav>

</div>