<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Domů</a>
      <a class="sidebar-nav-item{% if page.url == '/books' %} active{% endif %}" href="/books">Kniha</a>
      <!--<a class="sidebar-nav-item{% if page.url == '/skoleni' %} active{% endif %}" href="/skoleni">Školení</a>-->
      <a class="sidebar-nav-item{% if page.url == '/archiv' %} active{% endif %}" href="/archiv">Archiv</a>
      <a class="sidebar-nav-item{% if page.url == '/good' %} active{% endif %}" href="/good">Co se povedlo</a>
      <a class="sidebar-nav-item{% if page.url == '/about' %} active{% endif %}" href="/about">Kontakt</a>
    </nav>

    <p>lukas@lukasbednarik.cz &copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
