<div class="sidebar">
  <div id="gearbox"><img src="/assets/gear.png" alt id="gear"></div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Blog</a>
      <a class="sidebar-nav-item{% if page.url == '/sluzby' %} active{% endif %}" href="/sluzby">Školení</a>
      <a class="sidebar-nav-item{% if page.url == '/firemni-kultura' %} active{% endif %}" href="/firemni-kultura">Firemní kultura</a>
      <a class="sidebar-nav-item{% if page.url == '/knihy' %} active{% endif %}" href="/knihy">Kniha</a>
      <a class="sidebar-nav-item{% if page.url == '/archiv' %} active{% endif %}" href="/archiv">Archiv</a>
      <a class="sidebar-nav-item{% if page.url == '/kontakt' %} active{% endif %}" href="/kontakt">Kontakt</a>
    </nav>

    <p>{{ site.author.email }} &copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
