# Nabídka všech workshopů a služeb

Mým cílem není prodat, ale podporovat.
Nesnažím se jen předat znalosti, ale naučit účastníky tomu, co jim pomůže v praxi.

- [Technické praktiky ve Scrumu](/workshop-technicke-praktiky-ve-scrumu/)
- [Coding Dojo](/workshop-coding-dojo/)
- [Scrum Master 2.0](/workshop-scrum-master-2/)
- [(Ne)technický Scrum Master](/workshop-netechnicky-scrum-master/)
- [Úvod do frameworku Scrum](/workshop-uvod-do-frameworku-scrum/)
- [Unit testing](/workshop-unit-testing/)
- [Impact Mapping](/workshop-impact-mapping/)
- [Konzultace](/konzultace/)
