<!-- Newsletter Widget -->
<div class="widget newsletter-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">Novinky</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <p>Dostanete dva emaily ročně. Odhlásit se můžete kdykoliv.</p>

    <!-- https://www.ecomail.cz/ form -->
    <form class="newsletter-email-signup" method="post" action="https://lukasbednarik.ecomailapp.cz/public/subscribe/2/2bb287d15897fe2f9d89c882af9a3a8b">
    <div class="field-group">
      <label class="hide" for="name">Jméno</label>
      <input type="text" name="name" id="name" value="" placeholder="Jméno">
    </div>
    <div class="field-group">
      <label class="hide" for="email">Váš e-mail</label>
      <input type="email" name="email" id="email" value="" placeholder="Email" required="">
    </div>
      <p>Soukromí bereme vážně. Přečtěte si naše <a href="/zasady-ochrany-osobnich-udaju/">Zásady ochrany osobních údajů</a>.</p>
      <button type="submit" value="Chci to!" class="button button-focus button-subscribe">Chci to!</button>
    </form>

  </div>

</div>
