---
layout: article
---

<!-- Blog Article -->
<article class="blog-article blog-single-page clearfix">

  <header class="article-header">
      <div class="article-title">
        <h3 class="title">{{ page.title }}</h3>
        <h4 class="category">
          {%- if page.parent -%}
            {%- assign letter = page.parent | slice: 0 -%}
            {%- if '#' == letter -%}
              <a href="/#{{ page.parent | slugify: 'latin' }}">{{ page.parent | slice: 1,page.parent.size }}</a>
            {%- else -%}
              {%- for parent in site.pages -%}
                {%- if parent.url == page.parent -%}
                  <a href="{{ parent.url }}">{{ parent.title }}</a>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endif -%}
        </h4>
      </div>
  </header>

  <!-- Article Content -->
  <div class="article-content">
    {{ content }}
  </div>

</article>