---
layout: article
---

<!-- Blog Article -->
<article class="blog-article blog-single-page clearfix">

  {% include article-header.html article=page %}

  <!-- Article Content -->
  <div class="article-content">
    {% include article-date.html date=page.date %}
    <div class="article-text">
      <p><i>{{ page.excerpt | strip_html }}</i></p>
    </div>
    <div class="post-content"></div>
    {{ page.content }}
  </div>

  <!-- Article Tool Boxes -->
  <div class="article-boxes">

    <!-- Share Article Links Box -->
    <div class="box clearfix">
      <span class="title">Sdílejte na sítích</span>
      <div class="box-content social-icons">
        <ul class="icons global-text-color-icons">
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
              onclick="window.open(this.href, 'facebook-share', 'width=550,height=255');return false;">
              <i class="fi icon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/home?status={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
              <i class="fi icon-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}"
              onclick="window.open(this.href, 'facebook-share', 'width=280,height=480');return false;">
              <i class="fi icon-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Similar Posts Box -->
    <div class="box clearfix">
      {%- assign titlePrinted = 0 -%}
      {%- for tag in page.tags -%}
        {%- if titlePrinted == 1 -%}
          {%- break -%}
        {%- endif -%}
        {%- for post in site.tags[tag] -%}
          {%- if page.url == post.url -%}
            {%- continue -%}
          {%- endif -%}
          <span class="title">Podobné příspěvky</span>
          {%- assign titlePrinted = 1 -%}
          {%- break -%}
        {%- endfor -%}
      {%- endfor -%}
      {%- assign similarPosts = 5 -%}
      <div class="box-content similar-posts">
        <ul>
          {%- for tag in page.tags -%}
            {%- for post in site.tags[tag] limit:5 -%}
              {%- if similarPosts == 0 -%}
                {%- break -%}
              {%- endif -%}
              {%- if page.url == post.url -%}
                {%- continue -%}
              {%- endif -%}
              {%- assign similarPosts = similarPosts | minus: 1 -%}
              <li>
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </li>
            {%- endfor -%}
          {%- endfor -%}
          <li><a href="/blog/">Zpět na blog</a></li>
        </ul>
      </div>
    </div>

  </div>

</article>